@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Pretendard Variable';
}

body {
  color: white;
}

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('../public/fonts/PretendardVariable.woff2')
    format('woff2-variations');
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.stackBounce:hover {
  animation: bounce 0.5s ease-in-out;
}

.stack div:nth-child(1) {
  animation: bounce 1s ease-in-out infinite;
}

.stack div:nth-child(2) {
  animation: bounce 1s ease-in-out infinite;
  animation-delay: 100ms;
}

.stack div:nth-child(3) {
  animation: bounce 1s ease-in-out infinite;
  animation-delay: 200ms;
}

.stack div:nth-child(4) {
  animation: bounce 1s ease-in-out infinite;
  animation-delay: 300ms;
}

.stack div:nth-child(5) {
  animation: bounce 1s ease-in-out infinite;
  animation-delay: 400ms;
}

.stack div:nth-child(6) {
  animation: bounce 1s ease-in-out infinite;
  animation-delay: 500ms;
}

.stack div:nth-child(7) {
  animation: bounce 1s ease-in-out infinite;
  animation-delay: 600ms;
}

@keyframes nextChangeCard {
  0% {
    transform: translateY(0px) scale(1);
  }

  50% {
    transform: translateY(-80px) scale(0.7);
  }

  100% {
    transform: translateY(-10px) scale(1);
  }
}

@keyframes prevChangeCard {
  0% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes nextChangeCards {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes prevChangeCards {
  0% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

.projectCardChangeNext {
  z-index: -9999 !important;
  animation: nextChangeCard 0.3s ease-in-out;
}

.projectCardChangePrev {
  animation: prevChangeCard 0.3s ease-in-out;
}

.projectCardsChangeNext div:nth-child(1) {
  animation: nextChangeCards 0.25s ease-in-out;
  animation-delay: 0ms;
}

.projectCardsChangeNext div:nth-child(2) {
  animation: nextChangeCards 0.25s ease-in-out;
  animation-delay: 20ms;
}

.projectCardsChangeNext div:nth-child(3) {
  animation: nextChangeCards 0.25s ease-in-out;
  animation-delay: 40ms;
}

.projectCardsChangePrev div:nth-child(1) {
  animation: prevChangeCards 0.25s ease-in-out;
  animation-delay: 40ms;
}

.projectCardsChangePrev div:nth-child(2) {
  animation: prevChangeCards 0.25s ease-in-out;
  animation-delay: 20ms;
}

.projectCardsChangePrev div:nth-child(3) {
  animation: prevChangeCards 0.25s ease-in-out;
  animation-delay: 0ms;
}
